<ion-header>
  <ion-toolbar>
    <ion-title>EDIT RESTAURANT</ion-title>
    <ion-icon slot="end" name="close-circle" (click)="onClose()" class="sesion_close"></ion-icon>
  </ion-toolbar>
 
</ion-header>



<ion-content fullscreen="false">

 <div>

  

  <ion-input  hidden [(ngModel)]="id"></ion-input>

    <ion-input required  value="datos" placeholder="Restautant Name " [(ngModel)]="name"></ion-input>

    <ion-input  placeholder="District" value="datos" [(ngModel)]="district"></ion-input>


    <ion-item>
      <ion-label>Restaurant Type</ion-label>
      <ion-select multiple="false" cancelText="Nah" okText="Okay!" [(ngModel)]="type">
        <ion-select-option value="Chinese">Chinese</ion-select-option>
        <ion-select-option value="Hamburguer">Hamburguer</ion-select-option>
        <ion-select-option value="Hamburguer">Fast Foot</ion-select-option>
        <ion-select-option value="Hamburguer">Pizza</ion-select-option>
        <ion-select-option value="Hamburguer">Backery</ion-select-option>
        <ion-select-option value="Hamburguer">Vegetarian Foot</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-range dualKnobs="true" min="0" max="100" step="5" snaps="true" pin="true" ticks="true" [(ngModel)]="rango"></ion-range>

    <ion-item>
      <ion-textarea placeholder="Comments..." [(ngModel)]="comments"></ion-textarea>
    </ion-item>

   
    <ion-toggle color="danger" [(ngModel)]="visited" ></ion-toggle>
   


    <ion-item>
      <ion-textarea placeholder="Opinion...." [(ngModel)]="opinion"></ion-textarea>
    </ion-item>


    <ion-button expand="full" size="large" (click)="onClickEdit()">Edit Restaurant</ion-button>
 </div>
    
  
  

</ion-content>
