.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .sesion_close{
    margin-left: 10px;
   
  }
  .restaurant_img *{
    height: 15em;
  }
  
  .card_lista{
    height: flex;
    
  }
  
  