<ion-header>
  

 
</ion-header>

<ion-content class="main">

  <ion-card>
    <ion-card-content>
    <img class="main_img" src="./assets/dawafoodie.png">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="botones">
  <ion-button shape="round" color="warning"  (click)="Login()" >    Login    </ion-button>
  <ion-button shape="round" color="warning" (click)="Create_Account()"> Create Account </ion-button>
  <ion-button shape="round" (click)="Login_facebook()"> <ion-icon name="logo-facebook"></ion-icon> </ion-button>
  <ion-button shape="round" color="danger" (click)="Login_google()"> <ion-icon name="logo-google"></ion-icon> </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="info_tetx">
      <h1>DaWaFoOdIe</h1>
      <h3> Manage your own list of restaurants , rate this restaurants and eat like a beast </h3>
    </ion-card-content>
  </ion-card>
 



</ion-content>
